
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* .down_arrow{
    list-style-type: none;   
}
 */

.section_title{
    list-style-type: none;
    
}
 .section_title::before {
    content: "▼";
    margin-right: 5px;
}


.section_title{
    list-style-type: none; }











main{
    max-width: 800px;
    margin: 50px auto;
}
.header{
    padding: 1rem;
    background-color: white;
}

.logo{
    font-size: 43px;
    font-family: arial nova Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.logo-text{
    font-weight: bold;
}

.button{
    width: 100px;
    padding: 3px;
    font-size: 15px;
    background-color: #7ec9f5;
    border-radius: 5px;
}

.input-section{
    width: 100px;
    padding: 3px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgb(234, 232, 232);
}
.container{
    max-width: 800px;
    margin-left: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.check{
    font-size: 10px;
    padding: 3px;
    color: green;
    border: 1px solid;
    border-radius: 50%;
}
.x-fault{
    font-size: 10px;
    padding: 3px;
    color: red;
    border: 1px solid;
    border-radius: 50%;
}
body{
    display: block;
}

.editorial{
    
    font-size: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color: #7ec9f5;
    border-radius: 10px;
 
}
.q1-goals{
    font-size: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color: #9c72e4;
    border-radius: 10px;
   
}
.recruiting{
    font-size: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color: #64c0a8;
    border-radius: 10px;
    
}
.mobile{
    font-size: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color: #f29d33;
    border-radius: 10px;
    
}
.website {
    font-size: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color: #d96ba6;
    border-radius: 10px;
   
}

.sales{font-size: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color:#b0c926;
    border-radius: 10px;
    
}



.new-task{
    margin-top: 20px;
    margin-left: 30px;

}